<strong>Olá, {{student_name}}!</strong>

<p>Segue a resposta para o seu questionamento:</p>

<p>
  <strong>Pergunta</strong>: {{ question }} <br />
  <strong>Resposta</strong>: {{ answer }} <br />
</p>
